@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 768px) {
	.bg-primary-sm{
		background-color: #ffffff !important;
	}
	.text-primary-xs{
		color: #007bff!important;
	}
	.our-business-text{
		padding-left: 10%;
	}
	.container-text-our-business{
		padding-top: 5px;
		margin-left: 5px;
	}
	.our-business-img1{
		padding-top: 2.5%;
		width: 7%;
		height: 7%;
		margin-left: 10%;
		
	}
	.our-business-img2{
		padding-top: 2.5%;
		width: 7%;
		height: 7%;
		margin-left: 10%;
	}
	.container-text-our-business{
		padding-top: 5px;
		margin-left: 5px;
		padding-right: 20px;
	}
	.button-position{
		margin-left: 35%;
	}
	.search-position{
		position: absolute;
		right: 2%;
	}
}